{% extends 'player/base.html' %}
{% load static %}

{% block titulo %}Player - {{ block.super }}{% endblock %}

{% block conteudo %}
    <div id="main-music-container">
        <div class="background-overlay"></div>
        <div class="music-info-and-player">
            <div class="album-cover-display">
                <img src="" alt="Capa do Álbum" id="album-cover">
            </div>
            <div class="music-details">
                <p class="now-playing-text">TOCANDO AGORA</p>
                <h2 class="music-title"></h2>
                <h3 class="artist-name"></h3>
            </div>
        </div>
    </div>

    <button id="open-lyrics-button" title="Ver Letra da Música">
        <i class="fas fa-font"></i>
    </button>

    <div class="lyrics-section">
        <div class="lyrics-actions">
            <button class="action-button" id="close-lyrics-button" title="Fechar Letra"><i class="fas fa-times"></i></button>
        </div>
        <div class="lyrics-container"></div>
    </div>
{% endblock %}

{% block player_content %}
    <div class="player-controls-bottom">
        <div class="progress-bar-container">
            <div class="progress-bar-music" style="--progress-width: 0%;"></div>
        </div>
        <div class="time-display">
            <span id="current-time">0:00</span>
            <span id="total-time">0:00</span>
        </div>
        <div class="buttons-control">
            <button class="control-button" id="shuffle-button"><i class="fas fa-random"></i></button>
            <button class="control-button" id="prev-button"><i class="fas fa-backward-step"></i></button>
            <button class="control-button large-button" id="play-pause-button"><i class="fas fa-play"></i></button>
            <button class="control-button" id="next-button"><i class="fas fa-forward-step"></i></button>
            <button class="control-button" id="repeat-button"><i class="fas fa-repeat"></i></button>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ playlist_json|json_script:"playlist-data" }}
    <audio id="music-audio" src="" preload="metadata"></audio>
    <script src="{% static 'player/js/letra.js' %}" defer></script>
{% endblock %}